.card {
    border: none;

    .card-title {
        font-size: 0.68rem;
    }

    .video--date {
        font-size: 0.68rem;
        text-align: right;
        color: #fff;
    }
    .favorite-btn{
        width: 50px;
        border: none;
        border-radius: 6px;
        background-color: #ff7842;
        color:#e5f4e3;
        margin-right: 15px;
        &:hover{
            opacity: 0.6;
        }
    }
}