<div class="card" *ngIf="item">
  <img class="card-img-top" src="{{item.snippet.thumbnails.medium.url}}" alt="Video youtube image"
    routerLink="../video-detail/{{item.id.videoId}}" />
  <caption class="card-title">{{item.snippet.title|formatText}}</caption>
  <span>{{item.snippet.channelTitle}}</span>
  <span class="video--date">{{item.snippet.publishedAt| date}}</span>
  <div>

    <button *favoriteBtn="false"  class="favorite-btn long" (click)="addCollection(item)">
      <span class="fa fa-heart-o"></span>
      <b>Add to Favorite</b>
    </button>
    <button class="favorite-btn" *ngIf="!hiddenBtn" (click)="removeCollection(item)">
      <span class="fa fa-trash"></span>
    </button>
    <ng-template [favoriteBtn]="true">
      <button class="favorite-btn" *ngIf="hiddenBtn" (click)="addCollection(item)">
        <span class="fa fa-heart-o"></span>
      </button>
    </ng-template>

  </div>
</div>