<div>
    <!-- <h1>Wellcome to Youtube for Children</h1> -->
    <div class="login-field col-md-4">
        <h2 class="form-title">Sign in
            <span>Become a part of our comunity!</span>
        </h2>
        <ul>
            <app-social-card class =" btn-facebook" (click) = "signInWithFacebook()">
                <span class="fa fa-facebook"></span>
                    Sign with facebook
            </app-social-card>
            <app-social-card class =" btn-google">
                <span class="fa fa-google"></span>
                    Sign with facebook
            </app-social-card>

        </ul>
    </div>
</div>