/* You can add global styles to this file, and also import other style files */
@import  './app/shared/variables/_colors.scss';
/*Navigation bar*/

/*End Navigation bar*/
h1, h2{
    color:$hight-light-color;
}
.btn-facebook {
    .btn-social-icon {
        background-color: #3b5998;
    }
}

.btn-google{
    .btn-social-icon {
        background-color: #dd4b39;
    }
}

.card {
    margin-bottom: 15px;
    border-radius: 2px;

    .btn-social-icon {
        box-shadow: none;
        color: #fff;
        border: 0;
        padding: 5px 10px;
        text-align: left;

        .fa {
            font-size: 1.5rem;
            margin-right: 0.5rem;
            padding-right: 0.7rem;
            border-right: 1px solid #fff;
            float: left;
        }
    }
}